body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #434455;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.container {
    max-width: 1158px; /* Максимальна ширина контейнера */
    padding-left: 20px; /* Лівий внутрішній відступ */
    padding-right: 20px; /* Правий внутрішній відступ */
    margin-left: auto; /* Автоматичний лівий зовнішній відступ (центрування) */
    margin-right: auto; /* Автоматичний правий зовнішній відступ (центрування) */
    background-color: cyan;/*test*/
    border: 3px solid #2E2F42;/*test*/
    clear: both;
}  

.ul-section{
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
}

 .ul-header-menu {
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    width: 50%;
    float: left;
}
.ul-header-menu li{
    margin-right: 20px;
}

.li-section {
    background-color:#FFFFFF;
}

.li-studio {
    color: #2e2f42;
}

.li-studio-a {
    color: #2e2f42;
}
a.li-studio-a:hover, a.li-studio-a:active, a.li-studio-a:focus {
    color: #404bbf;
} 

a.li-header:hover, a.li-header:active, a.li-header:focus {
    color: #404bbf;
} 

.logo-block-header {
width: 10%;
display: inline-flexbox;
background-color: red; /*test*/
float: left; /* попробовать без него*/
}

.logo {
    font-family: 'Raleway', sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    color: #4d5ae5;
}
.address-main {
color: #434455 ;
display: flex;
width: 33%;
background-color: green;
 
}

.logo-studio{
    color: #2e2f42;
}
.logo-studio-a{
    color: #2E2F42;
}

.nav-tittle {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 60%;  /*test zzz*/
    display: inline-flexbox; /*test zzzz*/
 
}

  
address{
    font-style: normal;
}

.adress-info {
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}

a.adress-info:hover, a.adress-info:active, a.adress-info:focus {
    color: #404bbf;
}
/* section  */
.section-tittle {
    color: #ffffff;
    background-color: #2E2F42;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em
}

.main-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
}

.main-button:hover, .main-button:active, .main-button:focus {
    background-color: #404BBF;
}

.section-principles {
    font-weight: 500;
    color: #8E8F99;
}

.section-team {
    background-color: #F4F4FD;
    font-weight: 500;
    color: #8E8F99;
}

.section-portfolio {
    font-weight: 500;
    color: #8E8F99;
}
/* footer */
.footer-section {
    color: #8e8f99;
    background-color:#2E2F42;
}

.h-main {
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em
}

.h-main-free {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em
}

.h-main-two {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.p-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.p-footer-text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.logo-studio-fooler {
    color: #f4f4fd;
}